 #card-list {
    display: grid;
    place-content: center;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, minmax(0, 1fr));
    list-style: none;
    gap : 10px;
  }

  @media (max-width : 1800px) and (min-width: 1350px) {
    #card-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  }

  @media (max-width : 1350px) and (min-width: 900px) {
    #card-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

  @media (max-width : 900px)  {
    #card-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}


  .card-section {
    width: 70%;
    margin: 0 auto;
  }
  .movie-card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
    margin: 20px;
    padding: 20px;
    width: 300px;
    justify-self: center;
    background-color: var(--bg-card-color);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: transform 100ms ease-in;
  }
  
  .movie-card:hover {
    transform: scale(1.02);
  }
  
  .movie-card img {
    width: 100%;
    min-height: 390px;
    border-radius: 10px;
  }
  
  .movie-card .movie-title {
    margin-bottom: 10px;
  }