span {
    font-size: 16px;
}

#movieName {
    padding: 5px 0px;
    width: 100px;
}


#name {
    padding: 5px 0px;
    width: 100px;
    margin-left: 50px;
}

#comment {
    padding: 5px 0px;
    margin-left: 50px;
    margin-right: 50px;
}

button {
    margin: 10px;
}

#video-container {
    height: 800px;
} 

.ytp-cued-thumbnail-overlay-image{
    background-size: contain !important;
}

.box-title {
    color:aliceblue;
    font-size: 30px;
    padding: 30px 0;
}

.box {
    width: 1500px;
    margin: 0 auto;
}

.box {position:relative; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden;}
.box iframe,
.box object,
.box embed {position:relative; top:0; left:0; width:100%; height:100%;}

.box + .box {
    margin-top: 50px;
}

.box-info {
    display: flex;
    gap: 0 20px;
    height: 717px;
}

.box-detail {
    display: flex;
    flex-direction: column;
    gap: 20px 0;

    color: aliceblue;
    font-size : 30px;

    overflow-y: scroll;
    -ms-overflow-style: none;
}

.box-detail::-webkit-scrollbar{
    display:none;
}

#director {
    margin-bottom: 20px;
}

#current-movie-overview {
    line-height: 50px;
}



#comment-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px 0 10px 0;
}

#comment-form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}

#comment-form input {
    margin: 0 10px;
    text-align: center;
}

#comment-list {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: black;
    background-color: white;
    width: 1000px;
    height: 500px;
    padding: 20px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}