@import "reset.css";
@import "variable.css";
@import "fonts.css";

@import "main.css";
@import "login.css";
@import "detail.css";


body {
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: 'BMJUA';
}

header {
  background-color: var(--bg-header-color);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
