@import "reset.css";
@import "variable.css";
@import "fonts.css";

@import "main.css";
@import "login.css";
@import "detail.css";
@import "comment.css";

body {
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: 'BMJUA';
}

.top-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 50;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--main-text-color);
  background-color: #ffffff34;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 6px var(--shadow-color);
  transition: 0.3s ease-in-out;
}
.top-btn:hover {
  background-color: #ffffff9a;
}
